body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 300px;
    background-color: red;
    animation-name: box;
    animation-duration:10s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes box{
    25%{
        transform: rotate(90deg);
        background-color: black;
        border-radius: 20%;
    }
    50%{
        transform: rotate(180deg);
        background-color: blue;
        border-radius: 20%;
    }
    75%{
        transform: rotate(270deg);
        background-color: green;
        border-radius: 30%;
    }
    100%{
        transform: rotate(360deg);
        background-color: hotpink;
        border-radius: 40%;
    }
}