section{
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    background-image: url("https://preview.redd.it/drop-your-best-mahatma-gandhi-memes-v0-h6e2sykntmoe1.jpeg?width=649&auto=webp&s=15579e7adb49ed0b0916712992f2fbf99aca8047");
    background-repeat: no-repeat;
    background-size: cover;
}