#main
{
    height: 100vh;
    width: 100%;
}

div{
    height: 250px;
    width: 150px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    font-weight: bold;
    font-size: large;
    background-color: aliceblue;
}

div:hover{
    height: 255px;
    width: 155px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px gray;
    z-index: 1;
    background-color: white;
    transform: scaleX(2px) scaleY(2px);
    transition-duration:800ms;
    
}

#A{
    position: absolute;
    top: 200px;
    left: 45%;
    padding-right: 10px;
}



#K{
    position: absolute;
    top: 250px;
    left: 38%;
}

#Q{
    position: absolute;
    top: 300px;
    left: 31%;
}

#J{
    position: absolute;
    top: 350px;
    left: 24%;
}

#two{
    position: absolute;
    top: 250px;
    left: 52%;
}

#three{
    position: absolute;
    top: 300px;
    left: 59%;
}

#four{
    position: absolute;
    top: 350px;
    left: 66%;
} 
